footer.section.footer-classic.text-center.bg-layer
	.bg-layer-item.bg-layer-item-1.wow.fadeInUp( style='background-image:url(images/background-02.png);' )
	.container
		h2 Build Your Website Now!
		p.h4: span.d-inline-block( style='max-width: 785px' ) Get Puffles today to give your pet shop everything it needs to succeed online and attract more visitors.
		a.btn.btn-primary( href= links.buyLink target='_blank')
			span Purchase now!
