section.section.section-lg.bg-transparent
    .container
        .row.justify-content-center
            .col-md-9.text-center
                h2.h3 Fell free to contact us anytime:
                a.h3.d-block.text-primary( href= 'tel:#') (+844) 123 456 78
                p.lead.offset-top-25 You can contact our clinic at any time and ask your questions. Our professional support representative will answer your questions with great pleasure.
                a( href="contacts.html" ).btn.btn-primary.btn-circle Contact us