-
	var
		htmlClass = "wide wow-animation",
		fonts = "https://fonts.googleapis.com/css2?family=Nerko+One:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap",
		logo = {
			default: 'logo-default-262x49.png',
			inverse: 'logo-inverse-520x84.png',
			name: 'Foodoko'
		},
		links = {
			post: 'blog-post.html',
			buyLink: 'https://themeforest.net/item/puffles-pet-shop-html5-template/29857602'
		},
		menu = [
			{
				title: 'Demos',
				link: '#demos'
			},
			{
				title: 'Documentation',
				link: '#'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
